<!--col display for users comments from db-->
{{#if comments}}
  <div class="card">
    <div class="card-heading bg-info rounded-top">
      <h2 class="card-title text-light px-3 pt-2">Comments
        {{#color_rating}}
        <small class="pull-right" id="light-rating"><i class="fa fa-2x fa-circle icon-{{name}}"></i></small>
        {{/color_rating}}
      </h2>

    </div>
    <div class="card-body px-3 pt-2">
      {{#comments}}
      <div class="animated fadeIn comments">
        <label for="username">{{name}}</label>
        <i class="zmdi zmdi-{{source}}"></i>
        <small>{{PerTime}}</small>
        <div class="row">
          <div class="col-sm-12 col-xs-12 comm_display">
            {{comment}}
          </div>
        </div>
      </div>
      {{/comments }}
    </div>
  </div>
{{else}}
  <div class="card text-white bg-info">
    <div class="card-body p-3">
      <h5 class="card-title">No Comment</h5>
      <p class="card-text">Be the first to tell us what the traffic situation is like on this route.</p>
    </div>
  </div>
{{/if}}
